









*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}








.footer{
    width:100%;
    height:150px;
    margin-top: 50px;
    background: #000522;
    color:aliceblue;
}
.footer a{
    
    color:#fff;
    list-style:lower-alpha;
}
.footer p{
    padding: 1em;
}
.center{
    text-align: center;
}